*{
   margin:0%;
   padding: 0%;
   box-sizing: border-box;
   font-family: sans-serif;
   font-weight: bold;
   font-size: 22px;
   background-color: #ecf0f3;


}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
h1{
    display: flex;
    text-align:center;
    background-color:#ecf0f3;
    box-shadow:  -5px -5px 12px #fff,
                5px 5px 12px rgba(0, 0, 0,0.14);
    border-radius: 5px;
    margin: 1px auto; 
    box-sizing:border-box;
    width: 115px;
    color: rgb(255, 145, 0);
    


}

.calculator{
    border-color:#ecf0f3 ;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #fff,
    5px 5px 12px rgba(0, 0, 0,0.14);
    display: grid;
    grid-template-columns:repeat(4,70px) ;
}
input{
    grid-column:span 4;
    width: 280px;
    height: 60px;
    border: none;
    outline: none;
    background-color:#ecf0f3;
    box-shadow: inset -5px -5px 12px #fff,
                inset 5px 5px 12px rgba(0, 0, 0,0.14);
    border-radius: 10px;
    text-align: end;
    margin:30px auto ;
    font-size: 40px;
    padding: 10px;
    color: rgb(255, 145, 0) ;

}
button{
    width: 43px;
    height: 48px;
    border-radius:30px;
    margin:5px auto;
    background-color: #ecf0f3;
    border: none;
    box-shadow: -5px -5px 12px #fff,
              5px 5px 12px rgba(0, 0, 0,0.14);
    color: rgb(255, 145, 0)   

}
.equal{
    width: 115px;
    margin: 8px 12px;
}
